---
layout: page
title: Portfolio
---
<br>
<!--<video width="1080" height="550" controls>-->
  <!--<source src="/home/abhinav/Desktop/pranav-portfolio/assets/img/videos/first.mp4" type="video/mp4">-->
<!--</video>-->
<!--<br>-->

<iframe src="https://player.vimeo.com/video/480284776"
        width="1080"
        height="550"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen>
</iframe>

<br><br>

<iframe src="https://player.vimeo.com/video/480286083"
        width="1080"
        height="550"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen>
</iframe>


<!--<iframe width="1080"-->
        <!--height="550"-->
        <!--src="https://www.youtube.com/embed/FcEQcfouBXM"-->
        <!--frameborder="0"-->
        <!--allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
        <!--allowfullscreen>-->
<!--</iframe>-->
<!--<br><br>-->
<!--<iframe width="1080"-->
        <!--height="550"-->
        <!--src="https://www.youtube.com/embed/oWtdmWsjg3k"-->
        <!--frameborder="0"-->
        <!--allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
        <!--allowfullscreen>-->
<!--</iframe>-->

<!--{% for post in site.categories.documentation %}-->
  <!--<a href="{{ site.github.url }}{{ post.url }}">-->
    <!--<div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>-->
      <!--<h2><span>{{ post.title }}</span></h2>-->
    <!--</div>-->
  <!--</a>-->

  <!--<a href="{{ site.github.url }}{{ post.url }}">-->
    <!--<div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>-->
      <!--<h2><span>{{ post.title }}</span></h2>-->
    <!--</div>-->
  <!--</a>-->
  <!--<a href="{{ site.github.url }}{{ post.url }}">-->
    <!--<div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>-->
      <!--<h2><span>{{ post.title }}</span></h2>-->
    <!--</div>-->
  <!--</a>-->
  <!--<a href="{{ site.github.url }}{{ post.url }}">-->
    <!--<div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>-->
      <!--<h2><span>{{ post.title }}</span></h2>-->
    <!--</div>-->
  <!--</a>-->
<!--{% endfor %}-->
